@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");


	body {
		background-image: url("http://cdn.wallpapersafari.com/19/25/h13RKY.jpg");
	}



	body{
		color: white;
		font-family: "Source Sans Pro", sans-serif;
	}

	a {
		text-decoration: none;
		color: white;
	}
	
	h1 {
		font-size: 3em;
	}

/* Icon */

		.icon{
			font-family: FontAwesome;
		}
		

/* Header */

	#header {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}


		#header .logo {
			width: 6em;
			height: 6em;
			line-height: 6em;
			border: solid 1px white;
			border-radius: 100%;
		}

		#header .logo .icon{
			font-size: 3em;
		}


		#header{
			padding: 3em;
		}

		#header .content{
			letter-spacing: 0.2em;
			font-size: 1.5em;
			line-height: 6em;
		}

		#header nav ul {
			display: flex;
			list-style: none;
			padding-left: 0;
			border: solid 1px white;
		}


		#header nav ul li a{
			line-height: 4em;
			padding: 1em;
			letter-spacing: 0.2em;
			border-bottom: 0;
		}
		
		nav ul li a:hover {
			color: #999 !important;
			text-decoration: none;
		}